<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'App_Shop:home' %}">Django Ecommerce Project</a>
        <button type="button" class="navbar-toggler" 
        data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" 
         aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href=""><i class="bi bi-cart" style="font-size:24px;">Cart</i></a>
                
            </li>
            <!--
                <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" 
                href="#" role="button" id="dropdownMenuLink" 
                data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            -->
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" 
                    id="navbarDropdown" role="button" 
                    data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                 <i class="bi bi-person-circle"></i>{{request.user.profile.username}}
                </a>
                
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'App_Login:profile' %}">Profile</a>
                    <a class="dropdown-item" href="">Orders</a>
                    <div class="dropdown-divider"> </div>
                    <a class="dropdown-item" href="{% url 'App_Login:logout' %}">Logout</a>
                 </div>
            </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'App_Login:login' %}" class="btn btn-info btn-sm">Login</a>
                    <a href="{% url 'App_Login:signup' %}" class="btn btn-info btn-sm">Signup</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>